/* SITE TEXT
-------------------------------------------------- */
$text-color: #5a5a5a;
$main__text--color: #074575;


/* NAV
-------------------------------------------------- */
$nav__link--color-hover: #0c7dd4;


/* CAROUSEL EFFECT
-------------------------------------------------- */
$carousel__item--color: rgba(7, 69, 117, 0.8);
    

/* BRANCH
-------------------------------------------------- */
$icon1--color: #81bcfc;
$icon2--color: #bdbdbd;
$icon3--color: #ffdc6e;
$icon--stroke-color: #5a5a5a;

/* SERVICES
-------------------------------------------------- */
$list__arrow--color: #07a7e3;