/* GLOBAL FONT
-------------------------------------------------- 
*/
body {
  font-family: 'Saira', sans-serif; }

/* SITE TEXT
-------------------------------------------------- */
/* NAV
-------------------------------------------------- */
/* CAROUSEL EFFECT
-------------------------------------------------- */
/* BRANCH
-------------------------------------------------- */
/* SERVICES
-------------------------------------------------- */
/* GLOBAL STYLES
-------------------------------------------------- 
*/
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a; }

h2,
h3,
h4,
h5,
h6 {
  color: #074575; }

h2 {
  font-size: 50px;
  margin-bottom: 1rem;
  padding-bottom: 0; }

/* NAV
-------------------------------------------------- */
.nav-link {
  color: #074575 !important;
  padding-left: 0.9rem !important;
  padding-right: 0.9rem !important; }

.nav-link:hover {
  color: #0c7dd4 !important; }

.nav-link--last {
  padding-right: 0 !important; }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel {
  margin-bottom: 4rem; }

@media (min-width: 992px) {
  .carousel-control-prev,
  .carousel-control-next {
    transform: translateY(-15%); } }
@media (min-width: 992px) {
  .carousel {
    margin-bottom: 220px; } }
.carousel-caption {
  bottom: 0;
  top: 50%;
  z-index: 10; }

@media (min-width: 300px) {
  .carousel-caption {
    transform: translateY(0%);
    top: 20%; } }
@media (min-width: 350px) {
  .carousel-caption {
    transform: translateY(0%);
    top: 25%; } }
@media (min-width: 400px) {
  .carousel-caption {
    transform: translateY(0%);
    top: 30%; } }
@media (min-width: 576px) {
  .carousel-caption {
    transform: translateY(0%);
    top: 34%; } }
@media (min-width: 768px) {
  .carousel-caption {
    transform: translateY(-23%);
    top: 50%; } }
@media (min-width: 992px) {
  .carousel-caption {
    transform: translateY(-55%); } }
@media (min-width: 1024px) {
  .carousel-caption {
    transform: translateY(-55%); } }
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4; } }
.navbar__logo {
  height: 50px; }

.navbar-nav {
  font-weight: 600; }

.carousel-item {
  position: relative;
  background-size: cover; }

.item__slide1 {
  background-image: url("../img/lab/laboratory-2815640_1280.jpg"); }

.item__slide2 {
  background-image: url("../img/lab-ibmm/ibmm%20(4).jpg"); }

.item__slide3 {
  background-image: url("../img/lab/engineer-4915427_1280.jpg"); }

.carousel-item::before {
  background-color: rgba(7, 69, 117, 0.8);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%; }

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem; }

/* BRANCHES
-------------------------------------------------- */
.branches--relative {
  position: relative; }

@media (min-width: 992px) {
  .branches {
    background-color: white;
    position: absolute;
    top: -455px;
    z-index: 20; } }
.branches .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center; }

.branches__heading {
  font-weight: 400; }

.branches .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem; }

.branches__icon {
  font-size: 60px;
  margin-top: 24px;
  margin-bottom: 1.5rem; }

.branches__caption {
  padding-bottom: 0.7rem; }

.icon1 {
  color: #81bcfc;
  -webkit-text-fill-color: #81bcfc;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5a5a5a; }

.icon2 {
  color: #bdbdbd;
  -webkit-text-fill-color: #bdbdbd;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5a5a5a; }

.icon3 {
  color: #ffdc6e;
  -webkit-text-fill-color: #ffdc6e;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5a5a5a; }

/* SERVICES
------------------------- */
@media (max-width: 991.8px) {
  .services__image {
    display: none; } }
.list__heading {
  padding-bottom: 1rem !important; }

.services__list > li {
  padding-bottom: 1rem;
  list-style-type: none; }

.list__arrow {
  color: #07a7e3;
  margin-right: 24px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .list__arrow {
    margin-right: 4px; } }
/* Featurettes
------------------------- */
.services__heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem; }

@media (min-width: 62em) {
  .services__heading {
    margin-top: 7rem; } }
.services__caption {
  padding-bottom: 1rem; }

/* COUNCIL
------------------------- */
.intitute__heading {
  margin-bottom: 2.5rem; }

.council__caption {
  text-align: justify; }

.council__image {
  margin-bottom: 1rem; }

/* DIVIDER BETWEEN SECTIONS
-------------------------------------------------- */
.divider {
  margin: 5rem 0; }

/*# sourceMappingURL=styles.css.map */
